<!DOCTYPE html>
<html>
    <head>
        
        <h1> STOCK MARKET DATA </h1>
        <p> a script using jinja</p>

    </head>
    <body>
        <p> {{company.shortName}} </p> 
        <table>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Zipcode</td>
              <td>{{company.zip}}</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
            </tr>
          </table>
    </body>
</html>